
.analogTestPanel {
	clear: both;
	width: inherit;
	height: 75px;
	border-radius: 8px;
	border: 2px solid #1d252c;
	background: #1d252c;
}
.analogTestPanel > div {
	width: 100%;
	height: 100%;
}

.ioPanel {
	height: 100%;
	display: table;
}
	.ioPanel.left {
		float: left;
	}
	.ioPanel.right {
		float: right;
		height: 100%;
		display: table;
	}
	.ioPanel > div {
		display: table-cell;
		vertical-align: middle;
		padding: 0 5px;
	}
.analogValBox {
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;
}
.analogValBox:last-child {
	border-right: 0;
}
	.analogValBox > div {
		clear: both;
	}
		.analogValBox > div.analogVal {
			margin: 0;
			text-align: center;
			border-radius: 0;
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-weight: bold;
			/*
			background: white;
			border: 1px solid;
			border-radius: 9px;
			*/
		}

			.analogValBox > div.analogVal .inputVal {
				width: 100%;
				height: 100%;
				border-radius: 20px;
				font-weight: bold;
				font-size: 20px;
			}
			.analogValBox > div.analogVal .btn {
				width: 90%;
				height: 90%;
				border-radius: 20px;
				font-weight: bold;
				line-height: normal;
				font-size: 20px;
				box-shadow: 0px 4px 1px #101519;
			}

.ledOn {
	background: #ef3f04; /* Old browsers */
	background: -moz-linear-gradient(top, #ef3f04 18%, #6d0019 80%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ef3f04 18%,#6d0019 80%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ef3f04 18%,#6d0019 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef3f04', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	color: #dcdcdc;
	text-shadow: 1px 1px #103250;
}

.ledOff {
	background-color: grey;
}

.footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 20px 0;
	text-align: right;
}

	.footer .goHomeBtn {
		width: 380px;
		height: 70px;
		font-size: 50px;
	}
