div.section {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(to right bottom,#fff 0,#d5d5d5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to right bottom,#fff 0,#d5d5d5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right bottom,#fff 0,#d5d5d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*초기화*/
	background: linear-gradient(to right bottom,#fff 0,#d5d5d5 100%);
	
	margin: 0 auto;
	height: 100%;
	min-height: 1080px;
}
