<!-- Main content -->
<section class="contentSection">
	<div class="contentBox">
		<div class="topMsgBar">
			<div class="width_20">
				<div class="padding_right_10">
					<div class="testName msgBox lineHeight_110">
						<b>75나4531</b>
					</div>
				</div>
			</div>
			<div class="flex_1">
				<div>
					<div class="statusText msgBox lineHeight_110">
						<b>{{statusText}}</b>
					</div>
				</div>
			</div>
		</div>
		<div class="centerContents_outside">
			<div class="centerContents">
				<div class="centerContentPanels speedGaugePanel">
					<div class="speedValGaugeBg" [ngClass]="{'for60': standard.value === 60, 'for40': standard.value === 40}">
						<div class="speedValGauge">
							<dx-circular-gauge id="gauge" [value]="value.mean" [subvalues]="value.subValue">
								<dxo-scale [startValue]="0" [endValue]="100" [tickInterval]="value.tick">
									<dxo-tick color="#e7e6e6" [visible]="false"></dxo-tick>
									<dxo-label [useRangeColors]="false" [customizeText]="customizeText" [font]="{color:'#e7e6e6', size:'25px'}" [indentFromTick]="3" [visible]="false"></dxo-label>
								</dxo-scale>
								<dxo-geometry [startAngle]="-135"
											  [endAngle]="-45">
								</dxo-geometry>
								<dxo-range-container width="0" [offset]="-55">
									<dxi-range [startValue]="0" [endValue]="35" color="#FFFF00"></dxi-range>
									<dxi-range [startValue]="35" [endValue]="45" color="#7CFC00"></dxi-range>
									<dxi-range [startValue]="45" [endValue]="100" color="#FF0000"></dxi-range>
								</dxo-range-container>
								<dxo-value-indicator type="TriangleNeedle" color="#fa2626" secondColor="#FF0000" [baseValue]=0 width="30" spindleSize="30" offset="50">
								</dxo-value-indicator>
								<dxo-subvalue-indicator type="TriangleNeedle"
														color="#8ba09d" width="15" offset="80"
														spindleGapSize="20" spindleSize="15">
								</dxo-subvalue-indicator>
							</dx-circular-gauge>
						</div>
						<div class="currentValue"><b>{{value.mean}}</b></div>
					</div>
				</div>
				<div class="centerContentPanels valuePanel">
					<div style="position: relative;height: 100%;left: -15%;">
						<div class="display_table">
							<div class="display_table-cell">
								<div class="limitValBox">
									<div class="limitValTitle">{{standard.value}}km</div>
									<div class="limitValContents">
										<div>
											<b>{{standard.start}}</b> ~ <b>{{standard.end}}</b> km/h
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<sub-footer></sub-footer>
	</div>
</section>
<!-- /.content -->
    


