
<!-- Main content -->
<section class="contentSection">
	<header class="adjust-header">
		<adjust-header></adjust-header>
	</header>
	<div class="contentBox">
		<div class="centerContents_outside">
			<div class="centerContents">
				<div class="centerContents">
					<div class="centerContentPanels sideSlipGaugePanel">
						<div class="sideslipGauge_outside">
							<div class="sideslipGauge">
								<dx-circular-gauge id="gauge" [value]="value.mean" [subvalues]="value.subValue">
									<!--[value]="value.mean" [subvalues]="value.subValue"-->
									<dxo-scale [startValue]="-10" [endValue]="10" [tickInterval]="value.tick">
										<dxo-tick color="#e7e6e6" [visible]="false"></dxo-tick>
										<dxo-label [font]="{color:'#e7e6e6', size:'30px'}" [visible]="false"></dxo-label>
									</dxo-scale>
									<dxo-geometry [startAngle]="-135"
												  [endAngle]="-45">
									</dxo-geometry>
									<dxo-range-container width="0" [offset]="-65">
										<dxi-range [startValue]="-10" [endValue]="-5" color="#f44242"></dxi-range>
										<dxi-range [startValue]="-5" [endValue]="-3" color="#FFFF00"></dxi-range>
										<dxi-range [startValue]="-3" [endValue]="3" color="#4ff441"></dxi-range>
										<dxi-range [startValue]="3" [endValue]="5" color="#FFFF00"></dxi-range>
										<dxi-range [startValue]="5" [endValue]="10" color="#f44242"></dxi-range>
									</dxo-range-container>
									<dxo-value-indicator type="TriangleNeedle" color="#fa2626" secondColor="#FF0000" [baseValue]=0 width="30" spindleSize="30" offset="50">
									</dxo-value-indicator>
									<dxo-subvalue-indicator type="TriangleNeedle"
															color="#8ba09d" width="15" offset="80"
															spindleGapSize="20" spindleSize="15">
									</dxo-subvalue-indicator>
								</dx-circular-gauge>
							</div>
							<div class="sideslipCurrentValue">
								<div class="currentValue">
									<b>{{value.mean}}</b>
								</div>
							</div>
						</div>
					</div>

					<div class="centerContentPanels sideSlipValuePanel">
						<div style="position: relative;height: 100%;left: -15%;">
							<div class="display_table" style="">
								<div class="display_table-cell">
									<div class="adjustBtns">
										<div class="adjustZero">
											<div>
												<button class="btn btnZero" type="button" (click)="zeroVal()">영점</button>
											</div>
										</div>
										<div class="adjustValues">
											<div class="row">
												<div class="valueBox">
													<input type="number" #adjust_left class="bottomContents_inputbox" />mm
												</div>

												<button class="btn btn-secondary" type="button" (click)="adjust('left',adjust_left.value)">Left교정</button>
											</div>
											<div class="row">
												<div class="valueBox">
													<input type="number" #adjust_right class="bottomContents_inputbox" />mm
												</div>
												<button class="btn btn-secondary" type="button" (click)="adjust('right',adjust_right.value)">Right교정</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<analogTest></analogTest>
	</div>
</section>
<!-- /.content -->




