
.centerContents_outside {
	background: none;
	border: 0;
	border-radius: 0;
	margin-top: 0;
}

div.centerContents {
	background: 0;
	box-shadow: none;
	background-image: none;
	border: 0;
	display: flex;
}

div.gaugePanel {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;

	height: 100%;
	margin-right: 2px;
	float: left;
	text-align: center;
	box-sizing: border-box;
	background: white;
	border: 2px solid #1d252c;
	border-radius: 8px;
}

	div.gaugePanel div.gaugeTitle {
		width: 100%;
		font-weight: bold;
		font-size: 50px;
		background: #1d252c;
		color: #dcdcdc;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}

.lineGaugePanel {
	flex: 1;
	width: 100%;
}
.lineGaugeBg.weight {
	background-image: url(/assets/image/line_gauge_for_weight.png);
}
.lineGaugeBg {
	display: table;
	width: 100%;
	height: 100%;
	background-image: url(/assets/image/line_gauge.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 500px;
}

.lineGaugeComp {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.lineGauge {
	position: relative;
	left: 38px;
	width: 100%;
	min-height: 410px;
	height: auto;
}

.BrakeValues {
	margin: 10px 0;
}

.BrakeValues_cell {
	height: 100%;
	vertical-align: middle;
	font-size: 2em;
}

.valueBox {
	line-height: 85px;
	font-size: 42px;
	margin: 0 auto;
	width: 435px;
}

.valueBox_inside .valueTitle {
    width: 190px;
}
